<html>
<head>
	<link href="/stylesheets/reset.css" rel="stylesheet">
	<link href="/stylesheets/stylesheet.css" rel="stylesheet">
</head>
<body>
<header class="clearfix">
	<div id="logo">Bookmark Manager</div><br>
	<div id="user-links">
		<%if current_user %>
			<span id="welcome-message">Welcome, <%= current_user.email %></span>

			<form id="sign-out" method="POST" action="/sessions">
			<input type="hidden" name="_method" value="delete">
			<input id="sign-out-btn" type="submit" value="Sign out">
			</form>
		<%else %>
			<% if request.path_info == '/sessions/new' %>
				<a href="/users/new"><button>Sign up</button></a>
			<% elsif request.path_info == '/users/new' %>
				<a href="/sessions/new"><button>Sign in</button></a>
			<%else%>
				<a href="/sessions/new"><button>Sign in</button></a>
				<a href="/users/new"><button>Sign up</button></a>
			<%end%>
		<% end %>
		<%unless request.path_info == '/links/new' %>
			<a href="/links/new"><button class="highlighted">Add link</button></a> 
		<% end %>
	</div>
</header>

  <% if flash[:errors] && !flash[:errors].empty? %>
	  Sorry, there were the following problems with the form. 
	  <ul id="errors">
	    <% flash[:errors].each do |error| %>
	      <li><%= error %></li>
	    <% end %>
	  </ul>
	<% end %>

	 <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= yield %>
</body>
</html>