body {
	background-color: skyblue;
	background-image: url(/images/extra_clean_paper.png);
	font-family: Helvetica;
}

header {
	background-color: black;
	color: white;
	padding: 10px;
	font-family: Helvetica;
	margin-bottom: 20px;
}

#welcome-message {
	font-size: 18px;
	display: inline-block;
}

#logo {
	display: inline-block;
	float: left;  
  font-family: Helvetica, Arial, Sans-serif;
 	font-size: 35px;
 	margin: 10px;
}

button, #sign-out-btn {
  display: inline-block; /* display inline but have dimensions */
  width: 80px;
  background-color: #82B743;
  border: 2px solid white;
  color: white; /*text colour*/
  text-decoration: none; /*no underlining*/
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px; /*rounded corners*/
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4); /*for readability*/
  float: right;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 28px;
	font-family: Helvetica;
}

.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

#links-container {
	padding: 20px;
	margin: 0 auto;
	width: 700px;
	background-color: white;
	box-shadow: 0 0 2px rgba(0,0,0, 0.4);
	border-radius: 10;
}

#links {
	margin-bottom: 5px;
}

.link {
  background-color: #EEE; /* same as #EEEEEE */
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  /* 10px for top and bottom, inherit from parent */
  /* for left and right */
  margin: 10px inherit;
  padding: 15px 10px;
}

  .link a.title {
  	font-size: 20px;
  	color: #b77843;
  	text-decoration: none;
    /* to make it slightly more prominent */
    letter-spacing: 1px;
  }

  .link .description {
    margin: 10px inherit;
  }

  .link .source {
    /* http://learnlayout.com/float.html and the next 4 sections */
    float: right; 
    font-size: 12px;
  }

  button.highlighted {
  background-color: #b77843;
}

