Enter your new password.

<form method="post" action="/users/set-new-password">
  New Password: <input type="password" name='password'>
  Confirm New Password: <input type="password" name='password_confirmation'>
  <input type="hidden" name='token' value="<%=@token%>" > 
<input type="submit" value="Change Password">
</form>